.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Full viewport height for centering */
    width: 20vw;

    display: flex;
    flex-direction: column; /* Stack children vertically */
  }
  
  .counter {
    font-size: 4rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #3498db; /* Adjust the color as needed */
    
  }
  
  /* Optional: Add some keyframe animations if needed */
  @keyframes counterAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .counter {
    transition: transform 0.5s ease-in-out;
  }

  .project-text {
    font-size: 2rem; /* Adjust the font size as needed */
    /* font-weight: bold; */
    color: #3498db; /* Adjust the color as needed */
    
  }
  